<ion-card class="mb-3 " style="--background: #DEE9FF;">
  <ion-card-header>
    <ion-card-title class="ion-text-center mb-0 mt-2">Job Suitability Score</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="row CirclePercentage">
      <div class="flex-wrapper">
        <div class="single-chart chart2">
          <svg viewBox="0 0 36 36" class="circular-chart blue">
            <path class="circle-bg" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831" />
            <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831" />
            <text x="18" y="20.35" class="percentage">{{itemData?.score}}</text>
          </svg>
        </div>
      </div>
    </div>
    <ion-row class="px-lg-0 px-0 mb-3">
      <ion-col size="8"><strong>
          <h3>Technical Skills :</h3>
        </strong></ion-col>
      <ion-col size="4">{{itemData?.skill.level}}</ion-col>
      <ion-col size="8"><strong>
          <h3>Soft Skills :</h3>
        </strong></ion-col>
      <ion-col size="4">{{itemData?.skill.level}}</ion-col>
      <ion-col size="8"><strong>
          <h3>Expreience :</h3>
        </strong></ion-col>
      <ion-col size="4">{{itemData?.experience.level}}</ion-col>
      <ion-col size="8"><strong>
          <h3>Education :</h3>
        </strong></ion-col>
      <ion-col size="4">{{itemData?.qualification.level}}</ion-col>
      <ion-col size="8"><strong>
          <h3>Location :</h3>
        </strong></ion-col>
      <ion-col size="4">{{itemData?.location.level}}</ion-col>
      <!-- <ion-col size="9"><strong><h3>Certification :</h3></strong></ion-col>
        <ion-col size="3">{{itemData.skill.level}}</ion-col> -->
    </ion-row>
    <ion-row class="px-0 mb-3">
      <ion-col size="12">
        <h4>Matched Skills</h4>
        <ul>
          <li *ngFor="let skill of itemData.skillOverview.matched">{{skill}}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="px-0 mb-3">
      <ion-col size="12">
        <h4>Missed Skills</h4>
        <ul>
          <li *ngFor="let skill of itemData.skillOverview.missing">{{skill}}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="px-0 mb-3">
      <ion-radio-group value="resume1">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>
                <h2>Resume-1</h2>
              </ion-label>
              <ion-radio slot="start" name="resume" value="resume1"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label>
                <h2>Resume-2</h2>
              </ion-label>
              <ion-radio slot="start" name="resume" value="resume2"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label>
                <h2>Resume-2</h2>
              </ion-label>
              <ion-radio slot="start" name="resume" value="resume3"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-row>
    <ion-row class="px-0 mb-3">
      <ion-col size="12">
        <div>
          <ion-button fill="outline" size="small" class="me-3" style="--background: #ced4da;">Upload</ion-button>
          <span style="color: #3498db; font-weight: 600;">Upload</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>